/**
 * CountdownPage Styles
 * Dark theme marketing page with full-page background
 */

.page {
  min-height: 100vh;
  background-color: #191919;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
